* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #FFFFFF;
}

.hero-container {
  background-image: url("../images/purplebackground.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 20px;
  padding-bottom: 120px;
}

.menu-container {
  display: flex;
  justify-content: space-between;
  margin: 0 170px 0 170px;
}

.header-logo  {
  font-weight: 800;
  font-size: 24px;
}

.header-list-items-container  {
  display: flex;
  justify-content: flex-end;
  gap: 24px;
  list-style-type: none;
  align-items: center;
}

.subtext  {
  color: #E4E4E4;
  font-size: 18px;
}

.hero-caption-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin: 122px 170px 0 170px;
}

.hero-text  {
  max-width: 45%;
}

h1  {
  font-size: 48px;
  font-weight: 800;
}

.signup-button  {
  font-weight: 700;
  font-size: 1.16rem;
  margin-top: 2.5%;
  width: 28%;
  border-radius: 10px;
  background-color: #4C3BF6;
  padding: 6px 12px;
  text-align: center;
}

.image-container  {
  display: flex;
  flex-wrap: wrap;
  height: 236px;
}

div.image-container img {
  height: 50%;
  width: 50%;
}

.body-container-one {
  background-color: #000E31;
  padding: 20px 0px 95px 0px;
}

h2  {
  width: 500PX;
  margin: 30px auto 50px auto;
  font-size: 35px;
  text-align: center;
}

.image-grid-container {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 0px 270px 0 270px;
}
